{% extends "layout.html" %}
{% block body_content %}
	<h1>About Page</h1>
	<p>
		This about page doesn't have a lot in, this is because there is much to talk about, ez.<br>

		F.A.Q:-<br>
			&nbsp Q). Who made this?<br>
				&nbsp &nbsp A). Me :3<br>
			&nbsp Q). Do u know da  wae?<br>
				&nbsp &nbsp A). No :/<br>
			&nbsp Q). Can you answer without an emoji?<br>
				&nbsp &nbsp A). :3 Maybe
		
		<br>About Me:-<br>
		
		"I'm going to need rural bacon, big, rural bacon."<br>
		During a funeral in Paris in 2010, a baby is born and dies before he can take his first breath.<br>
		During a funeral in Paris in 2010, the same baby is born and lives to tell the tale. That baby becomes nine-year-old Casper Superhalk, a sympathetic and gracious housekeeper.<br>
		What if there were second chances? Third chances? Fourth chances? Would you eventually be able to save the world from arrogant fairies who burgle each other? Would you even want to?<br>
		Casper Superhalk's Diary follows Casper Superhalk and his articulate niece, Chantal Smith, as their quiet lives tumble through turbulent events in Moscow, again and again.<br>
		However, the end of the world approaches, and time is running out for Casper. He is left with two options: stop the arrogant fairies in one hour, or allow the world to end in a ball of fire.<br>
		John Doe explores sausages and rural bacon to full effect in the futuristic novel to end all futuristic novels.
	</p>
{% endblock body_content %}
