{% extends "layout.html" %}
{% block body_content %}
	<font color='blue'><h1>{{ current_user.first_name }} {{ current_user.last_name }} Account Page</h1></font>
	<p>Update your account details!</p>
	<div class="form">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<div class="form-group">
				{{ form.first_name.label }}
				{{ form.first_name }}
				{% if form.first_name.errors %}
					<div class="error">
						{% for error in form.first_name.errors %}
							<span>{{ error }}</span>
						{% endfor %}

					</div>
				{% endif %}
			</div><br>
			<div class="form-group">
				{{ form.last_name.label }}
				{{ form.last_name }}
				{% if form.last_name.errors %}
					<div class="error">
						{% for error in form.last_name.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% endif %}
			</div><br>
			<div class="form-group">
				{{ form.email.label }}
				{{ form.email }}
				{% if form.email.errors %}
					<div class="error">
						{% for error in form.email.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% endif %}
			</div><br>
			<div class="form-group">
				{{ form.submit }}
			</div>
		</form>
	</div>
{% endblock body_content %}