<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }} - Page</title>
		<style>
			.image {
				margin-left: 30%;
				margin-top: -15%;
			}
		</style>
	</head>
	<body>
		<div class="navbar">
			{% if current_user.is_authenticated %}
			<a href="{{ url_for('home') }}">Home</a>
			<a href="{{ url_for('about') }}">About</a>
			<a href="{{ url_for('account') }}">Account</a>
			<a href="{{ url_for('logout') }}">Logout</a>
			{% else %}
			<a href="{{ url_for('home') }}">Home</a>
			<a href="{{ url_for('about') }}">About</a>
			<a href="{{ url_for('login') }}">Login</a>
			<a href="{{ url_for('register') }}">Register</a>
			{% endif %}
		</div>
		<div class="left">
			{% block body_content %}{% endblock %}
		</div>
		<div class="image">
			<img src="data:image/png;base64,{{ lb }}" alt="Error Text" >
		</div>
	</body>
</html>