{% extends "layout.html" %}
{% block body_content %}
	<h1>{{ title }} Page</h1>
	<div class="form">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<div>
				{% if team1 != 'Empty' %}
					{{ team1 }}
					<a href="{{ url_for('teamsettings_id', teamsettings_id=1) }}">
						Update</a>
					{{ form.deleteOne }}
				{% else %}
					{{ team1 }}
				{% endif %}
				<br>
				{% if team2 != 'Empty' %}
					{{ team2 }}
					<a href="{{ url_for('teamsettings_id', teamsettings_id=2) }}">
						Update</a>
					{{ form.deleteTwo }}
				{% else %}
					{{ team2 }}
				{% endif %}
				<br>
				{% if team3 != 'Empty' %}
					{{ team3 }}
					<a href="{{ url_for('teamsettings_id', teamsettings_id=3) }}">
						Update</a>
					{{ form.deleteThree }}
				{% else %}
					{{ team3 }}
				{% endif %}
			</div>
		</form>
	</div>
{% endblock body_content %}